.home_main {
  display: flex;
  flex: 1;
}
.home_item_wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
.home_item_ {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
