.home-list {
  padding: 0;
  padding-top: 170px;
  padding-bottom: 60px;
}
.home-list-item {
  margin-bottom: 10px;
}
@media (min-width: 767px) {
  .home-list {
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    margin-left: 10px;
    padding-bottom: 20px;
  }
  .home-list-item {
    display: flex;
    justify-content: space-evenly;
  }
}
