@import url(../../../Config/color.css);
.comp_main {
  position: sticky;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.search_input,
.search_input:hover {
  border-radius: 30px;
  border: none;
  outline: none;
  padding-left: 5px;
}
.search_input:focus {
  border: inherit;
  outline: inherit;
}
