@import url(../../../Config/fonts.css);
.fileContainer {
  display: flex;
  .file-wrapper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    min-height: 100px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    align-self: center;
    padding: 10px;
  }
  .file-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }
  .detete-button-wrapper {
    padding: 7px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid red;
    border-radius: 50px;
    align-self: center;
    margin-top: 12px;
  }
  .video-container {
    height: 150px;
    width: 100%;
  }
  @media (min-width: 767px) {
    .video-container {
      height: 200px;
    }
    .file-wrapper-container {
      width: 30%;
    }
  }
}
