.login_main {
  background-image: url("../../assets/images/background_img_login.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.login_main_sub {
  font-size: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.login-star-symbol {
  font-size: 30px;
  color: red;
}
.login-inputs {
  margin-bottom: 15px;
  border-radius: 10px;
  padding-left: 8px;
  border: 1px solid green;
  width: 30vw;
  height: 40px;
}
.login-inputs:hover,
.login-inputs:focus {
  border: 1px solid green;
}
.login-heading-text {
  color: green;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.login-input-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-button-1 {
  background-color: green;
  padding: 6px;
  padding-inline: 20px;
  font-weight: bold;
  border-radius: 15px;
  border: 2px solid white;
  margin-top: 10px;
  margin-bottom: 5px;
}
.login-button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
