.pr_main {
  padding-top: 20px;
}
.pr_profiletitle {
  color: white;
  margin-bottom: 50px;
}
.pr_profileImg {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.pr_yourRecipe_txt {
  color: white;
}
