.videoplayer {
  height: 40vh;
  object-fit: cover;
  width: 100%;
  background-color: rgb(44, 58, 58);
}
@media (min-width: 767px) {
  .videoplayer {
    height: 35vh;
    object-fit: cover;
    width: 100%;
    background-color: rgb(44, 58, 58);
  }
}
